 *{
    box-sizing: border-box;
 }
 body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
 }
 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: flex-start;
  padding: top;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  width: 500px;
  border-radius: 6px;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
}

.modal-box input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-secondary {
  padding: 8px 16px;
  background: #eee;
  border: none;
  cursor: pointer;
}

.btn-primary {
  padding: 8px 16px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}
