.home-page {
  margin-left: 15%;            
  width: calc(100% - 15%);
  display: flex;
  justify-content: center;

  transition: margin-left 0.3s ease;
}


.home-page.collapsed {
  margin-left: 5%;             
  width: calc(100% - 5%);
}
.hamburger
{
    cursor: pointer;
  
}
.img-preview{
    user-select: none;
}
 .img-preview img{
    user-select: none;
    pointer-events: none;
 }

 .img-preview{
    cursor: crosshair;
 }