.home-page {
  margin-left: 15%;            
  width: calc(100% - 15%);
  display: flex;
  justify-content: center;

  transition: margin-left 0.3s ease;
}


.home-page.collapsed {
  margin-left: 5%;             
  width: calc(100% - 5%);
}
.hamburger
{
    cursor: pointer;
  
}
.img-preview{
    user-select: none;
}
 .img-preview img{
    display: block;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
 }

 .img-preview{
    cursor: crosshair;
    position: relative;
    user-select: none;
 }

 .svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
 }

 .img-preview :active{
    cursor: move;
 }

 .image-preview{
   position: relative;
   display: inline-block;
 }

 .coords-popup {
  position: absolute;
  top: 10px;
 left: 25px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 5;
}


